<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>937614076619-66kk5gt4hhv0tui5jlrini2kv87oksfs.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.937614076619-66kk5gt4hhv0tui5jlrini2kv87oksfs</string>
	<key>API_KEY</key>
	<string>AIzaSyAuVaZTyINMlU8Mj3wrP5A_HRd2kYqp3dc</string>
	<key>GCM_SENDER_ID</key>
	<string>937614076619</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.yessoft.mandobMoshtarayat-store</string>
	<key>PROJECT_ID</key>
	<string>mandoob-456f3</string>
	<key>STORAGE_BUCKET</key>
	<string>mandoob-456f3.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:937614076619:ios:d8b37c2c98921a716a094e</string>
</dict>
</plist>